*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    background: linear-gradient(45deg,rgba(131, 58, 180, 1) 0%, 
    rgb(129, 82, 82) 43%, rgb(182, 108, 5) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

section.form-wrapper{
    width: 100%;
    max-width: 480px;
}


section.form-wrapper> .card-form{
    background-color: white;
    border-radius: 16px;
    padding: 2em;
    box-shadow: 52px 40px 17px 21px rgba(0,0,0,0.1);
}


section.form-wrapper> .card-form > .form-header{
    text-align: center;
    margin-bottom: 2em; 
    display: flex;
    flex-direction: column;
    gap: 1em;
}

section.form-wrapper> .card-form > form{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

section.form-wrapper> .card-form > form > .rel-input-group{
    position: relative;
}
section.form-wrapper> .card-form > li{
    text-align: center;
    margin-bottom: 2em; 
    display: flex;
    flex-direction: column;
}

form > .rel-input-group > input,
form > .rel-input-group > textarea{
  width: 100%;
  padding: 14px 12px;
  border: 1.5px solid #ddd;
  border-radius: 8px;
}

section.index{
    display: flex;
    justify-content: center;
    align-items: center;
}


