:root{
    --size-gap: 4rem;
    --primary-color: #567c7b;
    --bg-color: #ecd5c0;
    --hero-color: #2b0040;
    --text-color: #222;
}

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

/* WRAPPER */

.wrapper{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-inline: 40px;
}


/* -------------------------------HEADER-------------------------------  */

.main-header{
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;

    background-color: var(--primary-color);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
}

.main-header img{
    width: 2rem;
    height: auto;
    display: block;
}

/* LOGO  */

.logo{
    font-size: 2rem;
    font-weight: bold;

    position: relative;
    z-index: 2000;
}

/* MENU DESKTOP */

.menu-desktop{
    display: flex;
    align-items: center;
    gap: 32px;

    flex-wrap: wrap;
}

.menu-desktop a{
    font-size: 1.1rem;
    transition: 0.3s;
}

.menu-desktop a:hover{
    opacity: 0.7;
}

/* ICONS */

.social-icons{
    display: flex;
    gap: 16px;
}

.social-icons a{
    font-size: 1.5rem;
}

/* MOBILE MENU */

.side-menu{
    display: none;
}

/* ICONOS HAMBURGUESA */

.icons-mobile{
    display: none;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    position: relative;
    z-index: 2000;
}

.icons-mobile .fa-xmark{
    display: none;
}

/* MENU MOBILE */

.nav-mobile{
    position: fixed;
    /* marca la distnacia entre el elemento y su padre */
    inset: 0;

    width: 100%;
    height: 100vh;

    background-color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    transition: 0.4s;
}

.menu-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.menu-mobile a{
    font-size: 3rem;
    font-weight: bold;
}

.mobile-socials{
    position: absolute;
    bottom: 40px;

    display: flex;
    gap: 40px;
}

.mobile-socials a{
    font-size: 2.5rem;
}

/* LOGICA TOGGLE */

.side-menu:checked ~ .nav-mobile{
    opacity: 1;
    visibility: visible;
}

.side-menu:checked ~ .icons-mobile .fa-bars{
    display: none;
}

.side-menu:checked ~ .icons-mobile .fa-xmark{
    display: inline-block;
}

/* --------------------------------------------------------------------------------- */

/* HERO  */

.hero{
    width: 100%;
    overflow: hidden;
}

.hero-image{
    width: 100%;
}

.hero-image img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* GAME SECTION  */

.game-section{
    display: flex;
    gap: 2rem;

    padding: var(--size-gap);
}

.video-container{
    flex: 2;
}

.video-container iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.game-info{
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-image{
    height: 100%;

    /* dimensiona para mantener su relación de aspecto
    mientras llena el cuadro de contenido completo del elemento. */
    object-fit: cover;
}

/* Botones */

.buttons-text{
    display: flex;
    align-items: center;
    gap: 24px;
}

.buttons-group{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btn{
    background-color: var(--primary-color);
    padding: 12px 24px;
    border-radius: 30px;

    text-align: center;
    transition: 0.3s;
}

.btn:hover{
    opacity: 0.8;
}

/* GALLERY */

.gallery{
    padding: var(--size-gap);
}

.slideshow-container{
    width: 100%;
    max-width: 1000px;
    position: relative;
    margin: var(--size-gap) auto 2rem;

    overflow: visible;
}

.mySlides {
    display: none;
}

.mySlides img{
    width: 100%;
    height: 600px;

    object-fit: cover;
    
    border-radius: 10px;
}

.prev,.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);


    padding: 16px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2rem;

    user-select: none;

    z-index: 10;
}

.prev{
    left: -50px;
}

.next {
    right: -50px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Texto de número (1/3 etc) */
.numbertext {
    color: var(--text-color);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Los puntos/indicadores de navegación */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* ANIMACIONES */

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
/* GALLERY */

/* Sections */

.about, .contact, footer{
    padding: var(--size-gap);
}

.section-title{
    margin-bottom: 40px;
}

.section-title h2{
    font-size: 2.5rem;
}

/* ABOUT */

.about-content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 40px;
}

.about-image, .about-text{
    flex: 1;
}

.about-image{
    flex: 1;
}

.about-info{
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-text{
    display: flex;
    flex-direction: column;
    gap: 16px;

    line-height: 1.7;
}

.about-buttons{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.maps{
    width: 100%;
}

.maps iframe{
    width: 100%;
    height: 300px;

    border: none;
    border-radius: 20px;
}

/* CONTACT */

/* .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.form-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-form{
    width: 100%;
    max-width: 700px;

    background-color: white;

    padding: 3rem;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.12);
}

.form-header{
    text-align: center;
    margin-bottom: 2.5rem;
}

.form-header h3{
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 12px;
}

.form-header p{
    color: #555;
    line-height: 1.6;
}

.card-form form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.rel-input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rel-input-group label{
    font-weight: bold;
}

.rel-input-group input, .rel-input-group textarea{
    width: 100%;

    padding: 14px 16px;

    border: 2px solid #ddd;
    border-radius: 12px;

    font-size: 1rem;

    transition: 0.3s;
}

/* Focus para cuando se seleccione se ponga rojo el borde de la caja */
.rel-input-group input:focus, .rel-input-group textarea:focus{
    outline: none;
    border-color: var(--primary-color);
}

.rel-input-group textarea{
    min-height: 160px;
    /* Si el user quiere hacer mas vertical el text area */
    resize: vertical;
}

.form-options{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form-options p{
    font-weight: bold;
}

.option-row{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.option-row label{
    display: flex;
    align-items: center;
    gap: 8px;

    color: #444;
}

.submit-btn{
    border: none;
    background-color: var(--primary-color);
    color: white;

    padding: 16px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover{
    opacity: 0.85;
    transform: translateY(-2px);
}

/* FOOTER */

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
}

.footer-nav ul{
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer-nav a, .footer-socials a{
    color: black;
}

.footer-socials{
    display: flex;
    gap: 16px;
}

.footer-socials a{
    font-size: 1.3rem;
}

.footer-bottom{
    text-align: center;
}

/* PAGINA GALERIA PERSONAJES */

.characters-section{
    padding: var(--size-gap);
}

/* GALERIA */

.characters-gallery{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: flex-end;

    gap: 24px;

    margin-bottom: 6rem;
}

/* TARJETAS */

.character-card{
    overflow: hidden;

    border-radius: 24px;

    transition: 0.3s ease;

    background-color: #ffffff;
}

.character-card img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: 0.4s ease;
}

/* TAMAÑOS */

.character-card.large{
    width: 260px;
    height: 420px;
}

.character-card.medium{
    width: 220px;
    height: 320px;
}

.character-card.small{
    width: 170px;
    height: 220px;
}

/* .character-card.tall{
    width: 220px;
    height: 500px;
} */

/* HOVER */

.character-card:hover{
    transform: translateY(-10px);
}

.character-card:hover img{
    transform: scale(1.05);
}

/* FICHAS */

.characters-info{
    display: flex;
    flex-direction: column;

    gap: 4rem;
}

.character-profile{
    display: flex;
    align-items: center;

    gap: 40px;

    background-color: white;

    padding: 2rem;

    border-radius: 30px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

/* IMAGEN */

.profile-image{
    width: 280px;

    /* factor contraccion */
    flex-shrink: 0;
}

.profile-image img{
    border-radius: 20px;
}

/* TEXTO */

.profile-text{
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.profile-text h3{
    font-size: 2rem;
}

.character-role{
    color: var(--primary-color);

    font-weight: bold;
}

/* MEDIA QUERIES */
/* TABLET */

@media screen and (max-width: 860px) {

    /* QUITAR BORDES LATERALES */
    .wrapper{
        padding-inline: 0;
    }


    /* -------------------------------HEADER-------------------------------  */
    .main-header{
        padding: 20px;
    }

    /* DESKTOP MENU OFF */

    .nav-desktop{
        display: none;
    }

    /* MENU MOBILE ON */

    .icons-mobile{
        display: block;
    }

    /* SECTIONS */

    .hero{
        height: 100%;
    }

    .game-section{
        flex-direction: column;
        padding: 2rem;
    }

    .video-container iframe{
        height: 250px;
    }

    .about,
    .gallery,
    .contact,
    footer{
        padding: 2rem;
    }

    .about-content{
        flex-direction: column;
    }

    /* FOOTER */

    .footer-top{
        flex-direction: column;
        gap: 20px;
    }

    .footer-nav ul{
        flex-direction: column;
        align-items: center;
    }

    /* Personajes */
    .characters-section{
        padding: 2rem;
    }

    .character-profile{
        flex-direction: column;

        text-align: center;
    }

    .profile-image{
        width: 100%;
        max-width: 320px;
    }

    .character-card.large,
    .character-card.medium,
    .character-card.small,
    .character-card.tall{
        width: 100%;
        max-width: 350px;

        height: 400px;
    }
}

/* MOVIL */

@media screen and (width <= 480px){

    .menu-mobile a{
        font-size: 2.5rem;
    }

    .hero{
        height: 100%;
    }

    .video-container iframe{
        height: 200px;
    }

    .buttons-text{
        flex-direction: column;
        align-items: flex-start;
    }

    .mySlides img{
        height: 300px;
    }

    .card-form{
        padding: 2rem 1.5rem;
    }

    .form-header h3{
        font-size: 1.6rem;
    }

    .option-row{
        flex-direction: column;
        gap: 10px;
    }
}